<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h4>Hi <%= @user.email %></h4>
<p>
  Your task <%= @task.name %> is pending on <%= @task.deadline %>
</p>
</body>
</html>